{#
  Title: Test Block
  Description: My Test Block
  Category: formatting
  Context: side
  Icon: admin-comments
  Keywords: test block
  Mode: preview
  Align: wide
  PostTypes: page post
  SupportsAlign: left right center wide full
  SupportsMode: false
  SupportsMultiple: false
#}
<div class="{{ block.classes }}">
<div class="uk-tile uk-tile-primary">
	This is a test block
</div>
</div>